
.icon-monitor:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e800'; } /* '' */
.icon-tablet:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-arrows-cw:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-book-open-1:before { content: '\e804'; } /* '' */
.icon-laptop:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-undo:before { content: '\e807'; } /* '' */
.icon-logout:before { content: '\e808'; } /* '' */
.icon-graduation-cap:before { content: '\e809'; } /* '' */
.icon-water:before { content: '\e80d'; } /* '' */
.icon-coins:before { content: '\e80e'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
