
.icon-monitor:before { content: '\e800'; } /* '' */
.icon-cubes:before { content: '\e801'; } /* '' */
.icon-cube:before { content: '\e802'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-tablet:before { content: '\e804'; } /* '' */
.icon-laptop:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-undo:before { content: '\e807'; } /* '' */
.icon-selfissue:before { content: '\e808'; } /* '' */
.icon-ticket:before { content: '\e809'; } /* '' */
.icon-mortarboard:before { content: '\e810'; } /* '' */
.icon-recycle:before { content: '\e811'; } /* '' */
.icon-lock:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-coins:before { content: '\e814'; } /* '' */
.icon-cafe:before { content: '\e815'; } /* '' */
.icon-prayer:before { content: '\e816'; } /* '' */
.icon-water:before { content: '\e817'; } /* '' */
.icon-group:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */
.icon-enquiries:before { content: '\e820'; } /* '' */
.icon-wellbeing:before { content: '\e821'; } /* '' */
.icon-sensory:before { content: '\e822'; } /* '' */
.icon-wheelchair:before { content: '\e823'; } /* '' */
.icon-refuge:before { content: '\e824'; } /* '' */
.icon-fire-exit:before { content: '\e825'; } /* '' */
.icon-elevator:before { content: '\e826'; } /* '' */
.icon-stairs:before { content: '\e827'; } /* '' */
.icon-toilet:before { content: '\e828'; } /* '' */
.icon-book-return:before { content: '\e829'; } /* '' */
.icon-toilet-female:before { content: '\e830'; } /* '' */
.icon-toilet-male:before { content: '\e831'; } /* '' */
.icon-skill:before { content: '\e832'; } /* '' */
.icon-arrows:before { content: '\e833'; } /* '' */
