{% comment %}
  Placeholder to allow defining custom content for the bottom of the <body>
{% endcomment %}
<script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.13.1/dist/leaflet-geoman.min.js" integrity="sha384-JpjptBZCAPwCD+cA89i19N6QnaP3wHtbiPrumygXumh1MpDTSjuA+NK5AEjPGFuk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/a11y-dialog@7.0.0/dist/a11y-dialog.min.js" integrity="sha384-gFUx+T8IPFJEpbJPNjrwxFirOl6sg2tSF21LjgvR4M4r080UTwGZITfWoEgIRtOG" crossorigin="anonymous"></script>
