<div id="fp-dialog" aria-labelledby="fp-dialog-title" aria-hidden="true" class="dialog-container">
    <div data-a11y-dialog-hide class="dialog-overlay"></div>
    <div role="document" class="dialog-content">
        <header>
            <h2 id="fp-dialog-title">GeoJSON Editor</h2>
            <button type="button" data-a11y-dialog-hide aria-label="Close dialog" id="fp-dialog-close" class="dialog-close">
                &times;
            </button>
        </header>
        
        <div id="fp-dialog-content">

        </div>
    </div>
</div>
