<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    {%- if site.headers -%}
    {% for header in site.headers %}
    <meta http-equiv="{{ header.name }}" content="{{ header.content }}">
    {%- endfor -%}{%- endif -%}
    <meta name="description" content="{{ site.description }}">
    {%- if site.environment == "development" -%}
    <meta name="robots" content="noindex">
    {%- endif -%}
    {% include dc.html %}
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.css"/>
    {%- comment -%} The Content-Security-Policy in .htaccess (app policy) allows this import map by its sha256 hash - update the hash if this changes {%- endcomment %}
    <script type="importmap">
    {
        "imports": {
            "leaflet": "https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.js"
        }
    }
    </script>
    {% include favicons.html %}
</head>