/**
 * Colours
 */

/* uol design system colours */
$color-brand--dark: #910000;
$color-brand: #c70000;
$color-brand--bright: #ff4e36;
$color-brand--pastel: #ff8a7a;
$color-brand--faded: #ffeded;
$color-black--dark: #0a0202;
$color-black: #212121;
$color-black--light: #6e6b6b;
$color-black--faded: #dedede;
$color-brand-2--dark: #156265;
$color-grey--dark: #6a645d;
$color-grey--medium: #bcb8b3;
$color-grey: #ddd9d5;
$color-grey--light: #eae8e6;
$color-grey--faded: #f3f2f1;
$color-warmgrey--dark: #5f5754;
$color-warmgrey--medium: #81746e;
$color-warmgrey: #b7aaa4;
$color-warmgrey--light: #cac2ba;
$color-warmgrey--faded: #efeae6;
$color-cream--dark: #ddcfc0;
$color-cream--medium: #e9e1d8;
$color-cream: #f6eee5;
$color-cream--light: #faf6f1;
$color-white--dark: #fffbf5;
$color-white: #ffffff;
$color-blue--dark: #00323d;
$color-blue: #003a52;
$color-blue--bright: #1a84c7;
$color-font--dark: #0e0c0c;
$color-font: #212529;
$color-font--light: #3B3B3B;
$color-font--x-light: #636363;
$color-link: #910000;
$color-link--hover: #0e0c0c;
$color-link--visited: #570000;
$color-link--active: #570000;
$color-border--light: #c9c8c5;
$color-border: #51504c;
$color-alert--error: #d4351c;
$color-alert--warning: #e76f16;
$color-alert--info: #1993bd;

/* general colors */
$separatorcolor: $color-grey--medium;
$bg: $color-white;
$fg: $color-black;




:root {
    --white: #{$color-white};
    --lightgrey: #{$color-grey--light};

    /* occupancy numbers */
    --occupancyno: #{$color-brand--dark};
    
    /* links */
    --linkcolor: #{$color-link};
    --linkcolor-active: #{$color-link--active};
    --linkcolor-visited: #{$color-link--visited};
    --linkcolor-hover: #{$color-link--hover};

    /* menu/close button */
    --menubutton: #{$color-black};
    --menubutton-bg: #{$color-white};
    --menubutton-hover: #{$color-black};
    --menubutton-bg-hover: #{$color-grey--light};

    /* geolocation button */
    --geobuttoncolor: #{$color-black};
    --geobuttonbg: #{$color-white};
    --geobuttoncolor-hover: #{$color-black--dark};
    --geobuttonbg-hover: #{$color-white};
    --geobuttoncolor-disabled: #{$color-grey--dark};
    --geobuttonbg-disabled: #{$color-grey};
    --geobuttoncolor-active: #{$color-white};
    --geobuttonbg-active: #{$color-blue};

    /* selecter buttons */
    --selecterbuttoncolor: #{$color-black};
    --selecterbuttonbg: #{$color-white};
    --selecterbuttonborder: #{$color-white};
    --selecterbuttoncolor-hover: #{$color-black--dark};
    --selecterbuttonbg-hover: #{$color-grey--light};
    --selecterbuttonborder-hover: #{$color-grey};

    /* area colours */
    --groupspacearea: 255, 134, 28;
    --silentspacearea: 28, 172, 255;
    --publicspacearea: 255, 221, 0;
    --staffarea: 204,204,204;
    /* shelf colours */
    --d1: #ff3b8d;
    --d2: #009e8c;
    --d3: #ff426c;
    --d4: #00999a;
    --d5: #ff4647;
    --d6: #0098a9;
    --d7: #fd4d00;
    --d8: #0094b4;
    --d9: #d57300;
    --d10: #0092c5;
    --d11: #b98300;
    --d12: #008fdb;
    --d13: #9c8b00;
    --d14: #0089fc;
    --d15: #819300;
    --d16: #657eff;
    --d17: #5c9b00;
    --d18: #9b70ff;
    --d19: #00a21f;
    --d20: #d150ff;
    --d21: #00a05a;
    --d22: #f911e0;
    --d23: #009f78;
    --d24: #ff2fb2;
}