.floorplan-controls {
    position: relative;
    margin: 0;
    font-size: 1rem;
    padding: .5rem;
    background: var(--white);
    margin-left: 0;
    .floorplans-selecter {
        padding: .5rem;
        border: 0;
        z-index:802;
    }
    .selecter__select {
        font-size: 1rem;
        width:100%;
    }
	ul.selecter__list {
        background: var(--lightgrey);
		max-height: 20vh;
		overflow: auto;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: .1rem;
            &.item-shelf {
                button {
                    padding: .2rem .2rem .2rem 2.2rem;
                    &::before {
                        content: " ";
                        position: absolute;
                        display: inline-block;
                        margin: 0;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 2em;
                    }
                }
            }
            button {
                position: relative;
                display: block;
				width: 100%;
				text-align: left;
				border: .1rem solid var(--white);
				background: var(--white);
				&:hover, &:focus {
					background: #efefef;
				}
			}
		}
	}
    .export__button {
        cursor: pointer;
        padding: .1rem 1rem;
        font-weight: bold;
    }
}
.exchange-overlay {
    position: absolute;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    background: var(--white);
    z-index: 1000001;
    textarea.geojson-container {
        border: none;
        width: 100%;
        height: 100%;
    }
}
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}
.feature-tooltip {
    max-width: 400px;
    white-space: normal !important;
    overflow-wrap: break-word;
}
