$shelf-classes: 'd1' 'd2' 'd3' 'd4' 'd5' 'd6' 'd7' 'd8' 'd9' 'd10' 'd11' 'd12' 'd13' 'd14' 'd15' 'd16' 'd17' 'd18' 'd19' 'd20' 'd21' 'd22' 'd23' 'd24';
$shelf-colors: '#ff3b8d' '#009e8c' '#ff426c' '#00999a' '#ff4647' '#0098a9' '#fd4d00' '#0094b4' '#d57300' '#0092c5' '#b98300' '#008fdb' '#9c8b00' '#0089fc' '#819300' '#657eff' '#5c9b00' '#9b70ff' '#00a21f' '#d150ff' '#00a05a' '#f911e0' '#009f78' '#ff2fb2';
@each $cls in $shelf-classes {
    $i: index($shelf-classes, $cls);
    $c: nth($shelf-colors, $i);
	path.#{$cls} {
		fill: #{$c};
		color: #{$c};
	}
	ul.selecter__list li.#{$cls}.item-shelf button {
		&::before {
		    background-color: #{$c};
			opacity: 0.5;
		}
		&:hover, &:focus {
			border-color: #{$c};
			&::before {
				opacity: 0.75;
			}
		}
	}
}
path.group-study-location {
	fill: rgb(255, 134, 28);
}
path.silent-study-location {
	fill: rgb(28, 172, 255);
}

path.group-study {
    fill: rgb(255, 134, 28);
	fill-opacity: 0.2;
	stroke: #ff861c;
	stroke-width: 2;
	stroke-opacity: 1;
}
ul.selecter__list li.group-study button {
	&::before {
		border: 3px solid rgb(255, 134, 28);
		background: rgba(255, 134, 28, 0.2)
	}
	&:hover, &:focus {
		&::before {
			
		}
	}
}
path.silent-study {
    fill: rgb(28, 172, 255);
	fill-opacity: 0.2;
	stroke: #1cacff;
	stroke-width: 2;
	stroke-opacity: 1;
}
ul.selecter__list li.silent-study button {
	&::before {
		border: 3px solid rgb(28, 172, 255);
		background: rgba(28, 172, 255, 0.2);
	}
	&:hover, &:focus {
		&::before {
			
		}
	}
}
