$shelf-classes: 'd1' 'd2' 'd3' 'd4' 'd5' 'd6' 'd7' 'd8' 'd9' 'd10' 'd11' 'd12' 'd13' 'd14' 'd15' 'd16' 'd17' 'd18' 'd19' 'd20' 'd21' 'd22' 'd23' 'd24';
@each $cls in $shelf-classes {
	path.#{$cls} {
		fill: var(--#{$cls});
		color: var(--#{$cls});
	}
	ul.selecter__list li.#{$cls}.item-shelf button {
		&::before {
		    background-color: var(--#{$cls});
			opacity: 0.5;
		}
		&:hover, &:focus {
			border-color: var(--#{$cls});
			&::before {
				opacity: 0.75;
			}
		}
	}
}
path {
	&.group-study-location,
	&.group-study {
	    fill: rgb(var(--groupstudyarea));
		stroke: rgb(var(--groupstudyarea));
    	stroke-width: 2;
		stroke-opacity: 0;
	}
	&.silent-study-location,
	&.silent-study {
		fill: rgb(var(--silentstudyarea));
		stroke: rgb(var(--silentstudyarea));
		stroke-width: 2;
		stroke-opacity: 0;
	}
	&.public-location,
	&.public {
		fill: rgb(var(--publicarea));
		stroke: rgb(var(--publicarea));
		stroke-width: 2;
		stroke-opacity: 0;
	}
	&.staff-location,
	&.staff {
		fill: rgb(var(--staffarea));
		stroke: rgb(var(--staffarea));
		stroke-width: 2;
		stroke-opacity: 0;
	}
	&.group-study,
	&.silent-study,
	&.public,
	&.staff {
		fill-opacity: 0.2;
		stroke-opacity: 1;
	}
}
ul.selecter__list li {
    &.public button {
		&::before {
			border: 3px solid rgb(var(--publicarea));
			background: rgba(var(--publicarea), 0.2)
		}
		&:hover, &:focus {
			&::before {
				
			}
		}
	}
    &.group-study button {
		&::before {
			border: 3px solid rgb(var(--groupstudyarea));
			background: rgba(var(--groupstudyarea), 0.2 );
		}
		&:hover, &:focus {
			&::before {
				
			}
		}
	}
    &.silent-study button {
		&::before {
			border: 3px solid rgb(var(--silentstudyarea));
			background: rgba(var(--silentstudyarea), 0.2);
		}
		&:hover, &:focus {
			&::before {
				
			}
		}
	}
	&.staff button {
		&::before {
			border: 3px solid rgb(var(--staffarea));
			background: rgba(var(--staffarea), 0.2);
		}
		&:hover, &:focus {
			&::before {
				
			}
		}
	}
}

