#floorplan-controls {
    position: relative;
    margin: 0;
    font-size: 1rem;
    width: $controlsWidth;
    padding: .5rem;
    background: $white;
    margin-left: 0;
    transition: margin-left .3s linear;
    &.closed {
        margin-left: -($controlsWidth - 12px);
    }
    .menubar {
        width: $controlsWidth;
        background: transparent;
        position: absolute;
        left: 32px;
        top: 0;
        z-index:801;
        padding:0;
    }
    .floorplans-selecter {
        padding: .5rem;
        border: 0;
        z-index:802;
    }
    .floorplans-selecter-header {
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        background: transparent;
    }
    .selecter__label, h3 {
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        padding: .4rem 0;
    }
    .selecter__select {
        font-size: 1rem;
        width:100%;
    }
	ul.selecter__list {
        background: $lightgrey;
		max-height: 20vh;
		overflow: auto;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: .1rem;
            &.item-shelf {
                button {
                    padding: .2rem .2rem .2rem 2.2rem;
                    &::before {
                        content: " ";
                        position: absolute;
                        display: inline-block;
                        margin: 0;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 2em;
                    }
                }
            }
            button {
                position: relative;
                display: block;
				width: 100%;
				text-align: left;
				border: .1rem solid #fff;
				background: #fff;
				&:hover, &:focus {
					background: #efefef;
				}
			}
		}
	}
}
@media (min-height:20rem) {
	#floorplan-controls ul.selecter__list {
		max-height: 23vh;
    }
}
@media (min-height:25rem) {
	#floorplan-controls ul.selecter__list {
		max-height: 26vh;
    }
}
@media (min-height:30rem) {
	#floorplan-controls ul.selecter__list {
		max-height: 29vh;
    }
}
@media (min-height:35rem) {
	#floorplan-controls ul.selecter__list {
		max-height: 32vh;
    }
}
@media (min-height:40rem) {
	#floorplan-controls ul.selecter__list {
		max-height: 35vh;
    }
}
@media (min-height:45rem) {
	#floorplan-controls ul.selecter__list {
		max-height: 38vh;
    }
}

.geo-button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background: $geobuttonbg;
    color: $geobuttoncolor;
    user-select: none;
    cursor: pointer;
    &::before {
        margin:0;
    }
    &:hover {
        background: $geobuttonbg-hover;
        color: $geobuttoncolor-hover;
    }
    &.active {
        background: $geobuttonbg-active;
        color: $geobuttoncolor-active;
    }
    &[disabled] {
        cursor: default;
        background: $geobuttonbg-disabled;
        color: $geobuttoncolor-disabled;
    }
}
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}
.feature-tooltip {
    max-width: 400px;
    white-space: normal !important;
    overflow-wrap: break-word;
}